.i-os-status-bar-black {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 44px;
  padding: 0 14.7px;
  width: 375px;
}

.left-side {
  align-self: center;
  height: 11px;
  margin-left: 19px;
  margin-top: 1.42px;
  width: 28px;
}

.overlap-group {
  height: 29px;
  position: relative;
  width: 282px;
}

.notch {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 219px;
}

.right-side {
  align-items: flex-start;
  display: flex;
  gap: 5px;
  height: 11px;
  left: 216px;
  min-width: 67px;
  position: absolute;
  top: 17px;
}

.mobile-signal {
  align-self: center;
  height: 11px;
  margin-top: 0;
  width: 17px;
}

.icon-signal {
  height: 11px;
  margin-top: 0;
  width: 15px;
}

.battery {
  align-self: flex-end;
  height: 11px;
  margin-bottom: 0;
  width: 24px;
}

