.calendlyRootRoot {
  gap: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 14.7px 164px 14.7px;
  box-sizing: border-box;
  background-color: #5db074;
  overflow: hidden;
}
.group {
  width: 94.6%;
  gap: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-end;
  margin: -2px 0px 0px 0px;
  box-sizing: border-box;
}
.element1 {
  min-width: 0px;
  min-height: 0px;
  align-self: flex-end;
  margin: 19.2px 15.1px 0.41px 0px;
  box-sizing: border-box;
}
.group1 {
  width: 72.29%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-start;
  margin: 0px 4.03px 0.33px 0px;
  padding: 19.7px 0px 0px 0px;
  box-sizing: border-box;
}
.notch {
  width: 219px;
  min-width: 0px;
  height: 30px;
  min-height: 0px;
  left: 0px;
  top: 0px;
  position: absolute;
  box-sizing: border-box;
}
.mobileSignal {
  min-width: 0px;
  min-height: 0px;
  position: relative;
  align-self: flex-end;
  box-sizing: border-box;
}
.wifi {
  min-width: 0px;
  min-height: 0px;
  align-self: flex-end;
  margin: 19.3px 4.03px 0.37px 0px;
  box-sizing: border-box;
}
.element2 {
  width: 6.83%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  margin: 19.3px 0px 0px 0px;
  padding: 2px;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/iwsDB4mjcdn2U6f5LtIy.svg");
}
.image1 {
  min-width: 0px;
  min-height: 0px;
  align-self: flex-start;
  box-sizing: border-box;
}
.combinedShape {
  min-width: 0px;
  min-height: 0px;
  align-self: flex-end;
  margin: 23px 0px 3.67px 0px;
  box-sizing: border-box;
}
.bg {
  width: 99.23%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  margin: 0px 0.33px 0px 0px;
  padding: 17px 16px 19px 16px;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/kDWckuXgTc9kQsjuXhz6.svg");
}
.text1 {
  align-self: center;
  margin: 0px 0px 11px 0px;
  font-size: 30px;
  font-weight: 600;
  font-family: Inter;
  text-align: center;
  box-sizing: border-box;
}
.bg1 {
  width: 88.42%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  padding: 16px 16px 15px 16px;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/MNyVMWyhq8C8ySFv3KX3.svg");
}
.search {
  align-self: flex-start;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  box-sizing: border-box;
}
.bg2 {
  width: 88.42%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  margin: 0px 0px 10px 17px;
  padding: 16px 16px 15px 16px;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/MNyVMWyhq8C8ySFv3KX3.svg");
}
.search1 {
  align-self: flex-start;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  box-sizing: border-box;
}
.group2 {
  width: 99.68%;
  gap: 221px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  margin: 0px 0px 9px 0px;
  box-sizing: border-box;
}
.radioOptionHere {
  align-self: flex-start;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  box-sizing: border-box;
}
.radio1 {
  width: -12.12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  margin: 1px 0px 2px 0px;
  padding: 2px;
  box-sizing: border-box;
  background-size: cover;
  background-image: url("https://file.rendit.io/n/bNNDoqrLmEjHQiCbdtLX.svg");
}
.radio2 {
  min-width: 0px;
  min-height: 0px;
  align-self: flex-start;
  box-sizing: border-box;
}
.divider {
  width: 99.68%;
  height: 1px;
  flex-shrink: 0;
  align-self: flex-end;
  margin: 0px 0px 10px 0px;
  border-style: solid;
  border-color: #e7e7e7;
  box-sizing: border-box;
}
.group3 {
  width: 99.68%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  margin: 0px 0px 8px 0px;
  box-sizing: border-box;
}
.radioOptionHere1 {
  align-self: flex-end;
  margin: 1px 0px 0px 0px;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  box-sizing: border-box;
}
.radio3 {
  min-width: 0px;
  min-height: 0px;
  align-self: flex-start;
  margin: 0px 0px 4px 0px;
  box-sizing: border-box;
}
.divider1 {
  width: 99.68%;
  height: 1px;
  flex-shrink: 0;
  align-self: flex-end;
  margin: 0px 0px 12px 0px;
  border-style: solid;
  border-color: #e7e7e7;
  box-sizing: border-box;
}
.group4 {
  width: 99.68%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  margin: 0px 0px 8px 0px;
  box-sizing: border-box;
}
.radioOptionHere2 {
  align-self: flex-end;
  margin: 1px 0px 0px 0px;
  color: #bdbdbd;
  font-size: 16px;
  font-weight: 500;
  font-family: Inter;
  box-sizing: border-box;
}
.radio4 {
  min-width: 0px;
  min-height: 0px;
  align-self: flex-start;
  margin: 0px 0px 4px 0px;
  box-sizing: border-box;
}
.divider2 {
  width: 99.68%;
  height: 1px;
  flex-shrink: 0;
  align-self: flex-end;
  margin: 0px 0px 45px 0px;
  border-style: solid;
  border-color: #e7e7e7;
  box-sizing: border-box;
}
.buttonPrimary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 0px;
  padding-top: 16px;
  padding-right: 135px;
  padding-bottom: 16px;
  padding-left: 135px;
  border-width: 0px;
  border-radius: 100px;
  box-sizing: content-box;
  background-color: #5db074;
  cursor: pointer;
}
.buttonPrimary:hover {
  opacity: 70%;
}
.clickMe {
  align-self: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  font-family: Inter;
  text-align: center;
  box-sizing: border-box;
}
