.profile-posts {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 812px;
  overflow: hidden;
  position: relative;
  width: 375px;
}

.overlap-group6 {
  height: 545px;
  margin-left: -7px;
  margin-top: -13px;
  position: relative;
  width: 382px;
}

.rectangle-239 {
  background-color: var(--aqua-forest);
  height: 245px;
  left: 0;
  position: absolute;
  top: 0;
  width: 376px;
}

.ellipse-6 {
  height: 198px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 125px;
  width: 198px;
}

.name-bio {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 60px;
  min-height: 63px;
  position: absolute;
  top: 339px;
  width: 276px;
}

.name {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 4.0px;
  min-height: 36px;
  min-width: 272px;
  text-align: center;
}

.a-mantra-goes-here {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 3.0px;
  min-height: 19px;
  min-width: 151px;
  text-align: center;
}

.group-18 {
  align-items: flex-start;
  display: flex;
  height: 218px;
  left: 98px;
  min-width: 266px;
  padding: 0 0.8px;
  position: absolute;
  top: 309px;
}

.icon-star-1 {
  height: 29px;
  width: 30px;
}

.icon-star {
  height: 29px;
  margin-left: 10px;
  width: 30px;
}

.icon-star-2 {
  align-self: flex-end;
  height: 29px;
  margin-bottom: 3.06px;
  margin-left: 44px;
  width: 30px;
}

.number {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 343px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 503px;
}

.image-3 {
  height: 39px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 267px;
  width: 44px;
}

