.page-header {
  align-items: center;
  display: flex;
  height: 36px;
  left: 23px;
  min-width: 343px;
  position: absolute;
  top: 73px;
}

.settings {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  min-height: 19px;
  min-width: 64px;
}

.title {
  align-self: flex-start;
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 62px;
  margin-top: -1px;
  min-height: 36px;
  min-width: 94px;
  text-align: center;
}

.logout {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  margin-left: 69px;
  min-height: 19px;
  min-width: 54px;
  text-align: right;
}

